.cart {
	background-color: #333333;
	border-radius: 1vh;
	color: white;
	height: calc(100vh - 240px);
	overflow: hidden;
	padding: 40px 80px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3), 10px 10px rgba(0, 0, 0, 0.25), 15px 15px rgba(0, 0, 0, 0.2);
}

.cart__list {
	overflow-y: auto;
	height: calc(100% - 100px);
}

.cart__list::-webkit-scrollbar {
	background-color: #C9C9C9;
	width: 10px;
	border-radius: 5px;
}

.cart__list::-webkit-scrollbar-thumb {
	background-color: #333333;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
}

.cart__list-item {
	background-color: #333333;
	width: 100%;
	max-width: 1200px;
	padding: 10px 70px;
	margin: 0 auto;
	display: flex;
	position: relative;
	align-items: center;
	border-top: 0.5px solid white;
	border-bottom: 0.5px solid white;
}

.cart__list-item:first-child {
	padding-top: 0;
	border-top: none;
}

.cart__list-item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.about {
	flex-direction: column;
	width: 100%;
}

.cart__list-item h3 {
	margin-left: 30px;
	width: calc(100% - 109px);
	margin-bottom: 30px;
	font-size: 32px;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.about-bottom {
	margin-left: 30px;
	display: flex;
	justify-content: flex-end;
	gap: 120px;
}

.cart__list-item img {
	width: 109px;
	height: 109px;
	object-fit: cover;
	flex-shrink: 0;
	cursor: pointer;
}

.cart__list-item .amount {
	display: flex;
	gap: 10px;
}

.cart__list-item .amount input {
	width: 65px;
	border-radius: 10px;
	border: 2px solid #c9c9c9;
	background-color: #333333;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.cart__list-item .amount button {
	width: 15px;
	text-align: center;
	background-color: #333333;
	border: none;
	color: white;
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
}

.cart__list-item .price {
	font-size: 32px;
	font-weight: 600;
}

.remove__item-btn {
	cursor: pointer;
	position: absolute;
	background-color: #c9c9c9;
	color: #CA2929;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: none;
	font-size: 26px;
	font-weight: 900;
	line-height: 36px;
	text-align: center;
	top: 15px;
	right: 10px;
}

.cart .row {
	height: 100px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 70px;
}

.cart .row .amount {
	display: flex;
	gap: 5px;
	font-size: 30px;
}

.cart .row button {
	background-color: #C9C9C9;
	border: 2px solid #777777;
	border-radius: 10px;
	padding: 3px 10px;
	font-size: 36px;
	font-weight: 700;
}

.cart .row .container__pay {
	align-items: center;
	display: flex;
	gap: 25px;
	font-weight: 700;
}

.categories{
	display: none;
}

@media all and (max-width: 1540px) {
	.cart {
		 padding: 0;
		 box-shadow: none;
		 height: calc(100vh - 100px);
	}

	.cart__list-item h3 {
		 font-size: 26px;
	}

	.cart .row button {
		 font-size: 26px;
		 padding: 10px 20px;
	}
}

@media all and (max-width: 1024px) {
	.categories{
		display: flex;
	}
}

@media all and (max-width: 768px) {
	.cart {
		 height: calc(100vh - 50px);
	}

	.cart__list-item h3 {
		 font-size: 24px;
	}

	.cart .row button {
		 font-size: 22px;
		 padding: 10px 20px;
	}

	.cart .row {
		 padding: 0;
	}

	.cart__list-item {
		 padding: 10px 70px 10px 0;
	}

	.cart__list::-webkit-scrollbar {
		 background-color: #C9C9C9;
		 width: 0px;
		 border-radius: none;
	}

	.cart__list::-webkit-scrollbar-thumb {
		 background-color: #333333;
		 border: none;
		 border-radius: none;
	}
}

@media all and (max-width: 580px) {
	.cart__list-item h3 {
		 font-size: 18px;
		 margin-left: 10px;
		 width: 100%;
		 margin-bottom: 20px;
		 text-overflow: clip;
		 white-space: inherit;
		 overflow: auto;
	}

	.about-bottom {
		 justify-content: flex-start;
		 gap: 30px;
		 margin-left: 10px;
	}

	.remove__item-btn {
		 width: 28px;
		 height: 28px;
		 font-size: 22px;
		 font-weight: 900;
		 line-height: 28px;
		 text-align: center;
		 top: 10px;
		 right: 0px;
	}

	.cart .row button {
		 font-size: 18px;
		 padding: 5px 15px;
		 width: 100%;
	}

	.cart {
		 height: calc(100vh - 80px);
	}

	.cart__list {
		 height: calc(100% - 120px);
		 margin-bottom: 20px;
	}

	.cart .row {
		 flex-wrap: wrap;
		 gap: 10px;
	}

	.cart .row .container__pay {
		 gap: 15px;
	}

	.cart .row .amount {
		 font-size: 22px;
	}

	.container__pay {
		 width: 100%;
		 justify-content: space-between;
	}

	.container__pay-btn {
		 width: 30% !important;
	}
}

@media all and (max-width: 380px) {
	.cart__list-item .price {
		 font-size: 18px;
	}

	.about-bottom {
		 gap: 15px;
	}

	.cart__list-item .amount input {
		 width: 35px;
		 font-size: 16px;
	}
}